export OPENAI_API_KEY="your-dashscope-or-openai-api-key"
export OPENAI_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
export MIDSCENE_MODEL_NAME="qwen-vl-max-latest"
export MIDSCENE_USE_QWEN_VL=1
MIDSCENE_CACHE=true

#######################NCTS
nctsUsername = ""
nctsPassword = ""
division = ""
saleEqualNumber = ""
supplier = ""
factoryLocation = ""
seller = ""
buyerPONo = ""
currency = ""
paymentTerm = ""
basis = ""
tradedBy = ""
